body {
    background: #134083 url(otis-redding.png);
    color: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}
input {
    font-family: 'Ubuntu', sans-serif;
}
.pure-g-r [class *="pure-u"] {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}
#wrapper {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
.row {
    margin-top: 1em;
}

.positive {
    color: #2ecc71;
}

.item-profit.positive:before, .item-change.neutral:before {
    content: '+';
}

.negative {
    color: #c0392b;
}

#data-tabel {
    width: 100%;
    color: black;
}
#data-tabel tr {
    background: #f2f2f2;
}
#data-tabel tr:hover {
    background: #EBEBEB;
}
#data-tabel th {
    background: #E4E4E4;
    padding: 12px;
}
#data-tabel td {
    padding: 12px;
}
#data-tabel .ge-update {
    background:#f2f2f2; 
    font-weight:bold;  
    padding: 10px 0 10px 0; 
    font-size: 1.2em;
    text-align:center;
}

.item-name a {
    color: #555555;
}

.item-name a:hover {
    color: #999999;
}

hr.divider {
    margin: 2em 0;
}

a {
    color: rgb(182, 197, 255);
}
#faq-button:before {
    content: 'Show ';
}
#faq-button.button-active:before {
    content: 'Hide ';
}
/* PURE CSS */

.button-xsmall {
    font-size: 75%;
}

.button-small {
    font-size: 85%;
}
.delete-item-button {
    color: white;
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-active {
    background: #00519C;
}

#search-results, #search-item-input {
    display: inline-block;
}

#search-results img {
    vertical-align: middle;
}